const API_URL = "https://ofknfeehxhwizjljiauq.supabase.co/rest/v1/produk"
const API_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9ma25mZWVoeGh3aXpqbGppYXVxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE3NjEzNTIsImV4cCI6MjA5NzMzNzM1Mn0.CReIsyVypQhbdR19IvdPPrlnhdMUnKnKIwr8Iv4Xx6o"